<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Roboto:400,700|Material+Icons">
		<meta content="width=device-width, initial-scale=1" name="viewport">

		<title>All Activity Requests</title>

		<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyDa5U-zlZrhgahLMVz8I_nEi3s5cp9t5jQ",
		    authDomain: "mvhs-approvals.firebaseapp.com",
		    databaseURL: "https://mvhs-approvals.firebaseio.com",
		    projectId: "mvhs-approvals",
		    storageBucket: "mvhs-approvals.appspot.com",
		    messagingSenderId: "43618643962"
		  };
		  firebase.initializeApp(config);
		</script>

	</head>
	<body style="min-height: 100%">
		<div id="navigation" style="height: 10%">
			<%- include templates/navbar.ejs %>
		</div>
		<link rel="stylesheet" type="text/css" href="/stylesheets/form.css">

		<div style="background-color: rgb(216, 216, 216); padding: 20px; min-height: 90%; display: inline-block; min-width: 100%; position: absolute;">
			<h1 style="text-align: center">All Activity Requests</h1>
			<div style="background: white; padding: 70px; overflow: scroll; position: absolute; min-height: calc(100% - 100px); max-width: calc(100% - 40px)">
				<div>
					DD - Donation Drive &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					FS - Food Sales &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					P - Product &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					R - Restaurant &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					TP - Third Party / Online Fundraiser &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				<table class="table table-bordered table-hover" style="white-space: nowrap">
				  <thead>
				  	<tr>
				      <th scope="col" colspan="14" style="text-align: center">General</th>
				      <th scope="col" colspan="10" style="text-align: center">Campus</th>
				      <th scope="col" colspan="18" style="text-align: center">Fundraiser</th>
				    </tr>
				    <tr>
				      <th scope="col">Form #</th>
				      <th scope="col">Name</th>
				      <th scope="col">Club Name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Club Advisor Email</th>
				      <th scope="col">Dates</th>
				      <th scope="col">On Campus?</th>
				      <th scope="col">Fundraiser?</th>

				      <th scope="col">Approved Club Advisor?</th>
				      <th scope="col">Approved Library?</th>
				      <th scope="col">Approved Gym?</th>
				      <th scope="col">Approved Cafeteria?</th>
				      <th scope="col">Approved CCC?</th>
				      <th scope="col">Approved ASB?</th>

				      <th scope="col">Gym/Fields?</th>
				      <th scope="col">Cafeteria?</th>
				      <th scope="col">Library?</th>
				      <th scope="col">Classroom?</th>
				      <th scope="col">Theater?</th>
				      <th scope="col">Screens/Projector?</th>
				      <th scope="col">Tables?</th>
				      <th scope="col">Chairs?</th>
				      <th scope="col">Cashboxes?</th>
				      <th scope="col">Setup Image</th>

				      <th scope="col">Fundraiser Name</th>
				      <th scope="col">DD: Items to be collected</th>
				      <th scope="col">DD: Receiving organization delivery plan</th>
				      <th scope="col">DD: Receiving organization Info</th>
				      <th scope="col">FS: Expected Costs</th>
				      <th scope="col">FS: Expected Income</th>
				      <th scope="col">FS: Expected Items Sold</th>
				      <th scope="col">FS: Expected Selling Price</th>
				      <th scope="col">FS: Product Description</th>
				      <th scope="col">P: Expected Costs</th>
				      <th scope="col">P: Expected Income</th>
				      <th scope="col">P: Expected Items Sold</th>
				      <th scope="col">P: Expected Selling Price</th>
				      <th scope="col">P: Product Description</th>
				      <th scope="col">R: Address</th>
				      <th scope="col">R: Name</th>
				      <th scope="col">TP: E-signature</th>
				      <th scope="col">TP: Fundraiser Link</th>
				    </tr>
				  </thead>
				  <tbody id="table">
				  </tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript" src="/js/allForms.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>