<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons">
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDa5U-zlZrhgahLMVz8I_nEi3s5cp9t5jQ",
        authDomain: "mvhs-approvals.firebaseapp.com",
        databaseURL: "https://mvhs-approvals.firebaseio.com",
        projectId: "mvhs-approvals",
        storageBucket: "mvhs-approvals.appspot.com",
        messagingSenderId: "43618643962"
      };
      firebase.initializeApp(config);
    </script>

    <title>ASB View</title>

</head>
<body>
<%- include templates/navbar.ejs %>
<div style="background-color: rgb(216, 216, 216); padding: 20px;">
    <h1 style="text-align: center">Welcome to Mountain View High School Approvals</h1>
    <div style="background: white; margin-top: 50px; padding: 70px; height: 500px">
        <div style="width: 80%; display: inline-block; float: left">
          <span style="text-align: center" id="orgName">Name of Organization</span>
          <br />
          <span style="text-align: center" id="evName">Name of Event</span>
          <br />
          <span style="text-align: center" id="description">Description of Event</span>
          <br />
          <span style="text-align: center" id="date">Date/Time</span>
          <br />
          <span style="text-align: center" id="loation">Location</span>
        </div>
        <div style="width: 20%; display: inline-block; float: right">
          <button onclick="approve()">Approve</button>
          <button onclick="decline()">Decline</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/asb.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>