<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Roboto:400,700|Material+Icons">
		<meta content="width=device-width, initial-scale=1" name="viewport">

		<title>New Approval</title>

	</head>
	<body>
		<div id="navigation">
			<%- include templates/navbar.ejs %>
		</div>
		<link rel="stylesheet" type="text/css" href="/stylesheets/form.css">

		<div style="background-color: rgb(216, 216, 216); padding: 20px;">
			<h1 style="text-align: center">Welcome to Mountain View High School Approvals</h1>
			<div style="background: white; margin-top: 50px; padding: 70px;">
				<h1 style="color: #373a3c; text-align: center; margin-bottom: 20px;">General Form</h1>
				<p style="color: red;">NOTE: After you fill out this form, you will need to <span style="font-weight: bold; text-decoration: underline;">wait</span> for ASB approval before proceeding with the event — this form does not mean your activity is approved.</p>
				<form id="main-form-part" onchange="formChangeHandler()">
					<h1 class="form-section-title">General Questions</h1>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Your Name</span>
							<input type="text" name="student_name" onkeyup="validateFullName(this)" onblur="validateFullName(this)" placeholder="First and last">
							<span class="feedback" style="color: #d50000;">First and last name please!</span>
						</div>
					</div>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Club Name</span>
							<input type="text" name="club_name" onkeyup="this.value = capitalizeEachWordInStr(this.value)" onblur="this.value = capitalizeEachWordInStr(this.value)" placeholder="Type here">
							<span class="feedback"></span>
						</div>
					</div>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Your Email</span>
							<input type="text" name="student_email" onkeyup="validateEmail(this, '@mvla.net')" onblur="validateEmail(this, '@mvla.net')" placeholder="MVLA email">
							<span class="feedback" style="color: #d50000;">Please enter a valid MVLA email</span>
						</div>
					</div>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Club Advisor Email</span>
							<input type="text" name="advisor_email" onkeyup="validateEmail(this, '@mvla.net')" onblur="validateEmail(this, '@mvla.net')" placeholder="MVLA email">
							<span class="feedback" style="color: #d50000;">Please enter a valid MVLA email</span>
						</div>
					</div>
					<div class="input-area">
						<div class="select-input">
							<span class="input-title">Is the event on campus?</span>
							<div>
								<p class="hoverable"><i class="material-icons">help</i></p>
								<div>Will this event take place on MVHS campus?</div>
							</div>
							<select name="event_on_campus">
								<option selected disabled>Select one</option>
								<option value="yes">Yes</option>
								<option value="no">No</option>
							</select>       
						</div>
					</div>
					<div class="input-area">
						<div class="select-input">
							<span class="input-title">Is your event a fundraiser?</span>
							<select name="is_fundraiser">
								<option selected disabled>Select one</option>
								<option value="yes">Yes</option>
								<option value="no">No</option>
							</select>       
						</div>
					</div>
				</form>
				<form id="on-campus-questions" style="display: none;" onchange="formChangeHandler()">
					<h1 class="form-section-title">Campus Questions</h1>
					<div class="input-area">
						<div class="checkbox-input">
							<span class="input-title">Please select desired facilities</span>
							<div class="md-checkbox">
								<input type="checkbox" name="gym" id="gym-checkbox">
								<label for="gym-checkbox">Gym/fields</label>
							</div>
							<div class="md-checkbox">
								<input type="checkbox" name="cafeteria" id="cafeteria-checkbox">
								<label for="cafeteria-checkbox">Cafeteria</label>
							</div>
							<div class="md-checkbox">
								<input type="checkbox" name="library" id="library-checkbox">
								<label for="library-checkbox">Library</label>
							</div>
							<div class="md-checkbox">
								<input type="checkbox" name="classroom" id="classroom-checkbox">
								<label for="classroom-checkbox">Classroom</label>
							</div>
							<div class="md-checkbox">
								<input type="checkbox" name="theater" id="theater-checkbox">
								<label for="theater-checkbox">Theater</label>
							</div>
						</div>
					</div>
					<div class="input-area" style="display: none;" id="classroom-checklist-extension">
						<div class="text-input">
							<span class="input-title">Which classrooms?</span>
							<div>
								<p class="hoverable"><i class="material-icons">help</i></p>
								<div>Enter specific details including, but not limited to, room numbers and times.</div>
							</div>
							<textarea type="text" name="classroom-extra-info" placeholder="Type here"></textarea>
							<span class="feedback"></span>
						</div>
					</div>
					<div class="input-area" style="display: none;" id="library-checklist-extension">
						<div class="text-input">
							<span class="input-title">We will send an email to the librarian confirming your use of the library.</span>
						</div>
					</div>
					<div class="input-area" style="display: none;" id="theater-checklist-extension">
						<div class="text-input">
							<span class="input-title">Please fill out this form for theater use</span>
							<br>
							<a href="https://www.mvla.net/MVHS">https://www.mvla.net/MVHS/example-form-here.pdf</a>
						</div>
					</div>
					<div class="input-area">
						<div class="checkbox-input">
							<span class="input-title">Please select desired equipment</span>
							<div class="md-checkbox">
								<input type="checkbox" name="screens" id="screens-checkbox">
								<label for="screens-checkbox">Screens/projector</label>
							</div>
							<div class="md-checkbox">
								<input type="checkbox" name="tables" id="tables-checkbox">
								<label for="tables-checkbox">Tables and/or chairs</label>
							</div>
							<div class="md-checkbox">
								<input type="checkbox" name="cashboxes" id="cashboxes-checkbox">
								<label for="cashboxes-checkbox">Cashboxes</label>
							</div>
						</div>
					</div>
					<div class="input-area" style="display: none;" id="screens-checklist-extension">
						<div class="text-input">
							<span class="input-title">Quantity of projector(s)/screen(s)</span>
							<input type="number" min="0" max="2" name="screens-extra-info" onkeyup="validateNumber(this, 0, 2)" onblur="validateNumber(this, 0, 2)" placeholder="Number here">
							<span class="feedback">Please enter a number in the range 0 to 2</span>
						</div>
					</div>
					<div class="input-area" style="display: none;" id="tables-checklist-extension">
						<div class="text-input">
							<span class="input-title">Quantity of tables/chairs</span>
							<input type="number" min="0" max="25" name="tables-extra-info" onkeyup="validateNumber(this, 0, 25)" onblur="validateNumber(this, 0, 25)" placeholder="Number here">
							<span class="feedback">Please enter a number in the range 0 to 25</span>
						</div>
					</div>
					<div class="input-area" style="display: none;" id="cashboxes-checklist-extension">
						<div class="text-input">
							<span class="input-title">How many cashboxes?</span>
							<input type="number" name="cashboxes-extra-info" onkeyup="validateNumber(this, 0, 3)" onblur="validateNumber(this, 0, 3)" placeholder="Number here">
							<span class="feedback">Please enter a number in the range 0 to 3</span>
						</div>
					</div>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Please upload a drawing of your event's expected setup</span>
							<input type="file" name="image-of-setup" placeholder="Upload here">
						</div>
					</div>
				</form>
				<form id="fundraiser-questions" style="display: none;" onchange="formChangeHandler()">
					<h1 class="form-section-title">Fundraiser Questions</h1>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Fundraiser questions go here</span>
							<input type="text" name="name" placeholder="First and last">
							<span class="feedback">First and last name please!</span>
						</div>
					</div>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Club Name</span>
							<input type="text" name="name" placeholder="MVLA email">
							<span class="feedback"></span>
						</div>
					</div>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Your Email</span>
							<input type="text" name="name" placeholder="MVLA email">
							<span class="feedback">Please enter a valid MVLA email</span>
						</div>
					</div>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Club Advisor Email</span>
							<input type="text" name="name" placeholder="MVLA email">
							<span class="feedback">Please enter a valid MVLA email</span>
						</div>
					</div>
					<div class="input-area">
						<div class="select-input">
							<span class="input-title">Is the event on campus?</span>
							<div>
								<p class="hoverable"><i class="material-icons">help</i></p>
								<div>Will this event take place on MVHS campus?</div>
							</div>
							<select>
								<option selected disabled>Select one</option>
								<option value="1">Yes</option>
								<option value="0">No</option>
							</select>       
						</div>
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="/js/form.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>