<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Approvals</title>
</head>
<%- include templates/navbar.ejs %>
<body style="background-color: #d8d8d8">
<div w3-include-html="navbar.ejs"></div>
<h1 style="text-align: center">Page Not Found</h1><br>
<img src="img/oh_no.gif" style="display: block; margin-left: auto; margin-right: auto"/>
<br>
</body>
</html>