<!DOCTYPE html>
<html>
<head>
    <title>Approvals</title>
</head>
<body style="background-color: #d8d8d8">
<%- include templates/navbar.ejs %>

<h1 style="text-align: center">Welcome to Mountain View High School Approvals</h1><br>
<h2 style="text-align: center; width: 80%; margin: auto; background-color: white; padding: 10px;">
    Hello! Click on "Form" on the navigation bar.</h2>
</body>
</html>