<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons">
		<link rel="stylesheet" type="text/css" href="/stylesheets/new.css">
		<meta content="width=device-width, initial-scale=1" name="viewport">

		<title>New Approval</title>

	</head>
	<body>
		<div id="navigation">
			<div style="padding: 10px;">
				<img src="/img/logo.png" height="50" width="94" style="margin-left: 50px;">						
			</div>
		</div>
		<div style="background-color: rgb(216, 216, 216); padding: 20px;">
			<h1 style="text-align: center">Welcome to Mountain View High School Approvals</h1>
			<div style="background: white; margin-top: 50px; padding: 70px;">
				<h1 style="color: #373a3c; text-align: center; margin-bottom: 20px;">Fundraising Form</h1>
				<p style="color: red;">NOTE: After you fill out this form, you will need to <span style="font-weight: bold; text-decoration: underline;">wait</span> for ASB approval before proceeding with the event — this form does not mean your activity is approved.</p>
				<div style="height: 50px;"></div>
				<div id="main-form-part">
					<p class="form-section-title">General Questions</p>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Name</span>
							<input type="text" name="name" onkeyup="validateFullName(this)" onblur="validateFullName(this)" placeholder="First and last">
							<span class="feedback">First and last name please!</span>			
						</div>
					</div>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Your Email</span>
							<input type="text" name="name" onkeyup="validateEmail(this, '@mvla.net')" onblur="validateEmail(this, '@mvla.net')" placeholder="MVLA email">
							<span class="feedback">Please enter a valid MVLA email</span>			
						</div>
					</div>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Club/Organization Name</span>
							<input type="text" name="name" onkeyup="this.value = capitalizeEachWordInStr(this.value)" onblur="this.value = capitalizeEachWordInStr(this.value)" placeholder="Type here">
							<span class="feedback"></span>			
						</div>
					</div>
					<div class="input-area">
						<div class="text-input">
							<span class="input-title">Club Advisor Email</span>
							<div>
								<p class="hoverable"><i class="material-icons" style="font-size: 24px;">help</i></p>
								<div>Email of the teacher who will approve your event</div>
							</div>
							<input type="text" name="name" onkeyup="validateEmail(this, '@mvla.net')" onblur="validateEmail(this, '@mvla.net')" placeholder="MVLA email">
							<span class="feedback">Please enter a valid MVLA email</span>			
						</div>
					</div>
					<div class="input-area">
						<div class="select-input">
							<span class="input-title">Is this event on or off campus?</span>
							<div>
								<p class="hoverable"><i class="material-icons" style="font-size: 24px;">help</i></p>
								<div>Will this event take place on MVHS campus?</div>
							</div>
							<select onchange="onOrOffCampus(this.value)">
								<option selected disabled>Select one</option>
								<option value="onCampus">On Campus</option>
								<option value="offCampus">Off Campus</option>
							</select>		
						</div>
					</div>
					<div id="onCampus-form-part" style="display: none;">
						<p class="form-section-title">On Campus Questions</p>
						<div class="input-area">
							<div class="checkbox-input">
								<span class="input-title">Please select any desired facilities</span>
								<br>
								<input type="checkbox" id="smallGymFacility" name="smallGymFacility" class="checkboxQuestion" onclick="selectedFacility();">
    							<label for="smallGymFacility" class="checkboxLabel">Small Gym</label>
    							<button class="requestApproval" id="smallGymRequest">Request Approval</button>
    							<br>
    							<input type="checkbox" id="largeGymFacility" name="largeGymFacility" class="checkboxQuestion" onclick="selectedFacility();">
    							<label for="largeGymFacility" class="checkboxLabel">Large Gym</label>
    							<button class="requestApproval" id="largeGymRequest">Request Approval</button>
    							<br>
    							<input type="checkbox" id="libraryFacility" name="libraryFacility" class="checkboxQuestion" onclick="selectedFacility();">
    							<label for="libraryFacility" class="checkboxLabel">Library</label>
    							<button class="requestApproval" id="libraryRequest">Request Approval</button>
    							<br>
    							<input type="checkbox" id="theaterFacility" name="theaterFacility" class="checkboxQuestion" onclick="selectedFacility();">
    							<label for="theaterFacility" class="checkboxLabel">Theater</label>
    							<br>
    							<input type="checkbox" id="footballFieldFacility" name="footballFieldFacility" class="checkboxQuestion" onclick="selectedFacility();">
    							<label for="footballFieldFacility" class="checkboxLabel">Football Field</label>
    							<br>
    							<input type="checkbox" id="grassFieldsGymFacility" name="grassFieldsGymFacility" class="checkboxQuestion" onclick="selectedFacility();">
    							<label for="grassFieldsGymFacility" class="checkboxLabel">Grass Fields</label>
    							<br>
    							<input type="checkbox" id="cafeteriaFacility" name="cafeteriaFacility" class="checkboxQuestion" onclick="selectedFacility();">
    							<label for="cafeteriaFacility" class="checkboxLabel">Cafeteria</label>
    							<button class="requestApproval" id="cafeteriaRequest">Request Approval</button>
    							<br>
    							<input type="checkbox" id="classroomsFacility" name="classroomsFacility" class="checkboxQuestion" onclick="selectedFacility();">
    							<label for="classroomsFacility" class="checkboxLabel">Classrooms</label>
    							<button class="requestApproval" id="classroomsRequest">Request Approval</button>
    							<br>
    							<input type="checkbox" id="mainQuadFacility" name="mainQuadFacility" class="checkboxQuestion" onclick="selectedFacility();">
    							<label for="mainQuadFacility" class="checkboxLabel">Main Quad</label>
    							<br>
    							<input type="checkbox" id="scienceQuadFacility" name="scienceQuadFacility" class="checkboxQuestion" onclick="selectedFacility();">
    							<label for="scienceQuadFacility" class="checkboxLabel">Science Quad</label>
							</div>
						</div>
						<div class="checkbox-input">
								<span class="input-title">Please select all desired equipment</span>
								<br>
								<input type="checkbox" id="tablesEquipment" name="tablesEquipment" class="checkboxQuestion" onclick="selectedEquipment();">
    							<label for="tablesEquipment" class="checkboxLabel">Tables</label>
    							<br>
    							<input type="checkbox" id="chairsEquipment" name="chairsEquipment" class="checkboxQuestion" onclick="selectedEquipment();">
    							<label for="chairsEquipment" class="checkboxLabel">Chairs</label>
    							<br>
    							<input type="checkbox" id="soundSystemEquipment" name="soundSystemEquipment" class="checkboxQuestion" onclick="selectedEquipment();">
    							<label for="soundSystemEquipment" class="checkboxLabel">Sound System</label>
    							<br>
    							<input type="checkbox" id="screenEquipment" name="screenEquipment" class="checkboxQuestion" onclick="selectedEquipment();">
    							<label for="screenEquipment" class="checkboxLabel">Screen</label>
    							<br>
    							<input type="checkbox" id="projectorEquipment" name="projectorEquipment" class="checkboxQuestion" onclick="selectedEquipment();">
    							<label for="projectorEquipment" class="checkboxLabel">Projector</label>
    							<br>
    							<input type="checkbox" id="cashboxEquipment" name="cashboxEquipment" class="checkboxQuestion" onclick="selectedEquipment();">
    							<label for="cashboxEquipment" class="checkboxLabel">Cashbox</label>
							</div>
						</div>
					</div>
					<div class="input-area">
						<div class="select-input">
							<span class="input-title">Is this a Fundraiser</span>
							<select onchange="fundraiserShow(this.value)">
								<option selected disabled>Select one</option>
								<option value="fundraiser">Yes</option>
								<option value="noFundraiser">No</option>
							</select>		
						</div>
					</div>
					<div id="fundraiser-form-part" style="display: none;">
						<p class="form-section-title">Fundraiser Questions</p>
						<div class="input-area">
							<div class="select-input">
								<span class="input-title">Which of the following best describes your fundraiser?</span>
								<div>
									<p class="hoverable"><i class="material-icons">help</i></p>
									<div>placeholder....</div>
								</div>
								<select onchange="typeOfFundraiser(this.value)">
									<option selected disabled>Select one</option>
									<option value="restaurantFundraiser">Restaurant</option>
									<option value="donationDriveFundraiser">Donation Drive</option>
									<option value="foodSalesFundraiser">Food Sales</option>
									<option value="productFundraiser">Product</option>
								</select>		
							</div>
						</div>
						<div class="input-area">
							<div class="text-input">
								<span class="input-title">Dates of Fundraiser</span>
								<input type="datetime-local" name="name" placeholder="mm/dd/yyyy">
								<a class="add-another" onclick="addAnotherInputField(this.previousSibling.previousSibling, 'date')"><i class="material-icons">add_circle</i> add another date</a>
								<span class="feedback"></span>
							</div>
						</div>
					</div>
					<div id="restaurant-form-part" style="display: none;">
						<p class="form-section-title">Restaurant Fundraiser Questions</p>
						
					</div>
					<div id="donationDrive-form-part" style="display: none;">
						<p class="form-section-title">Donation Drive Fundraiser Questions</p>
						
					</div>
					<div id="foodSales-form-part" style="display: none;">
						<p class="form-section-title">Food Sales Fundraiser Questions</p>
						
					</div>
					<div id="product-form-part" style="display: none;">
						<p class="form-section-title">Product Fundraiser Questions</p>
						
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/new.js"></script>
	</body>
</html>