<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons">
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Track Approval</title>

</head>
<body>
<%- include templates/navbar.ejs %>
<div style="background-color: rgb(216, 216, 216); padding: 20px;">
    <h1 style="text-align: center">Welcome to Mountain View High School Approvals</h1>
    <div style="background: white; margin-top: 50px; padding: 70px;">
        <div class="input-area">
            <div class="text-input">
                <span class="input-title">Tracking ID</span>
                <input type="text" name="trackingId" id="trackingId" placeholder="">
            </div>
        </div>
        <div class="submit">
            <button class="submitButton" onclick="trackForm();">Track</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/track.js"></script>
</body>
</html>