<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button"><span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="width: 80vw;">
            <div class="nav navbar-nav navbar-left" id="lefNav" style="left: 5vw; margin-left: 2em; position: absolute">
                <img alt="" height="50" src="img/logo.png" style="margin-left: 50px" width="94"></div>
            <ul class="nav navbar-nav navbar-right">
                <li style="font-size: 13px">
                    <a href="/form">Form</a>
                </li>
                <li style="font-size: 13px"></li>
            </ul>
        </div>
    </div>
</nav>