* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

#navigation {
	height: 75px;
	background: #f8f8f8;
}

.material-icons {
	vertical-align: top;
	font-size: inherit;
}

/* hover stuff */
.hoverable {
	margin: 0 !important;
	font-size: 20px;
}
.hoverable + div {
	opacity: 0;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.17), 0 1px 3px 0 rgba(0,0,0,0.17);
	min-height: 0;
	min-width: 0;
	/*min-height: 100px;
	min-width: 300px;*/
	display: block;
	position: absolute;
	z-index: -5;
	padding: 10px;
	background: white;
	transition: opacity .2s ease;
	font-size: 14px;
}
.hoverable:hover + div {
	opacity: 1;
	z-index: 10;
}
@media only screen and (max-width: 350px) {
	.hoverable + div {
		width: 250px;
	}
}


/* input stuff */

.input-area {
	min-height: 50px;
	margin: 20px 0 20px 0;
	padding: 16px 0;
}

.input-title {
	font-size: 24px;
	margin-bottom: 18px;
	display: inline-block;
}

.input-subtitle {
	display: block;
	color: rgb(95, 95, 95);
	font-size: 13px;
	margin-bottom: 18px;
}

.text-input > div, .select-input > div {
	display: inline-block;
}

.form-section-title {
	font-size: 40px;
	font-weight: bold;
	display: block;
	border-bottom: 2px #fccb0b solid;
	padding-bottom: 7px;
}

/* only text-input css */
.text-input .hoverable {
	font-size: 24px;
}
.text-input input {
	display: block;
	border: none;
	padding: 0 10px 5px 0;
	outline: none;
	border-radius: 0;
	transition: all .2s ease;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	font-size: 16px;
	width: 300px;
}
.text-input input[type='file'] {
	display: block;
	border: none;
	padding: 0 10px 5px 0;
	outline: none;
	border-radius: 0;
	transition: all .2s ease;
	font-size: 16px;
	width: 300px;
}
.text-input textarea {

	border-radius: 0;
	border: none;
	display: block;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	padding: 0 10px 5px 0;
	transition: all .2s ease;
	font-size: 16px;
	outline: none;
	width: 300px;
	height: 30px;
	resize: none;
	transition: all 0.4s ease;
}

.date-input .input-date {
	border: none;
	padding: 0 10px 5px 0;
	outline: none;
	border-radius: 0;
	transition: all .2s ease;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	font-size: 16px;
	width: 40px;
	text-align: center;
	display: inline;
}

.text-input input::placeholder, .text-input textarea::placeholder {
	color: #757575;
}

.text-input input:focus, .date-input .input-date:focus, .text-input textarea:focus {
	border-bottom: 2px solid #4285f4;
}

.text-input > .feedback {
	display: none;
	/*display: block;*/
	font-size: 12px;
	padding-top: 8px;
	/*color: #666666;*/
	color: #d50000;
}

/* only select-input css */

.select-input select, select {
	display: block;
	border: 2px solid #3367d6;
	background: #fff;
	color: #000;
	border: none;
	border-radius: 0;
	padding: 2px 15px 2px 10px;
	cursor: pointer;
	margin: 0;
	width: 250px;
	height: 30px;
	font-size: 16px;
	outline: none;
}

/* only button css */
.submit > .submitButton {
		width: 50px;
		height: 30px;
}


.add-another {
	margin-top: 10px;
	display: inline-block;
	color: rgba(0,0,0,0.54);
	font-size: 12px;
	padding: 8px 5px;
	border-radius: 2px;
	transition: 0.1s ease all;
	cursor: pointer;
	background: rgba(0,0,0,.04);
}
.add-another:hover {
	color: rgba(0,0,0,.8);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}



/* checkbox-stuff */
.md-checkbox {
	position: relative;
	margin: 16px 0;
	text-align: left;
}
.md-checkbox.md-checkbox-inline {
	display: inline-block;
}
.md-checkbox label {
	cursor: pointer;
	font-weight: normal;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.md-checkbox label:before, .md-checkbox label:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
}
.md-checkbox label:before {
	width: 20px;
	height: 20px;
	background: #fff;
	border: 2px solid rgba(0, 0, 0, 0.54);
	border-radius: 2px;
	cursor: pointer;
	transition: background 0.3s;
}
.md-checkbox input[type="checkbox"] {
	outline: 0;
	margin-right: 10px;
	visibility: hidden;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
	background: #337ab7;
	border: none;
}
.md-checkbox input[type="checkbox"]:checked + label:after {
	transform: rotate(-45deg);
	top: 5px;
	left: 4px;
	width: 12px;
	height: 6px;
	border: 2px solid #fff;
	border-top-style: none;
	border-right-style: none;
}
.md-checkbox input[type="checkbox"]:disabled + label:before {
	border-color: rgba(0, 0, 0, 0.26);
}
.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
	background: rgba(0, 0, 0, 0.26);
}
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	background: #f0f0f0;
	position: absolute;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #333;
}
section {
	background: white;
	margin: 0 auto;
	padding: 4em;
	max-width: 800px;
}
section h1 {
	margin: 0 0 2em;
}

body {
  background-color: #eee;
}

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}
.loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}


.fake-button {
	background: #fccb0b;
	color: black;
	border: none;
	transition: 0.3s ease all;
	display: block;
	text-align: center;
	vertical-align: middle;
	padding: 10px 20px;
	font-size: 14px;
	border-radius: 4px;
	user-select: none;
	outline: none;
}

.fake-button:hover {
	color: #fccb0b;
	background: #404040;
}



.checklist-extension {
	margin-left: 30px;
	border: 2px solid #fccb0b;
	padding: 15px;
	border-radius: 6px;
	display: none;
}



/* date stuff */
.new-date-button {
	background: rgb(235, 235, 235);
	color: black;
	border: none;
	padding: 8px;
	font-size: 15px;
	border-radius: 4px;
	outline: none;
	transition: all 0.2s ease;
}
.new-date-button:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}

.green-done-button {
	background: #5ca75c;
	border-radius: 50%;
	padding: 0;
	color: white;
	width: 40px;
	height: 40px;
	border: none;
	font-size: 24px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.2);
}

.green-done-button .material-icons {
	vertical-align: sub;
}
.green-done-button:hover {
	background: #6cbf6c;
}

.one-date {
	background: rgb(230, 230, 230);
	border-radius: 4px;
	padding: 8px;
}

.remove-button {
	font-size: 24px;
	cursor: pointer;
	transition: 0.2s ease all;
}
.remove-button i {
	vertical-align: middle;
}
.remove-button:hover {
	color: black;
}


.submit-button {
	background: #fccb0b;
	color: black;
	border: none;
	transition: 0.3s ease all;
	display: block;
	text-align: center;
	vertical-align: middle;
	padding: 10px 20px;
	font-size: 24px;
	border-radius: 4px;
	user-select: none;
	text-transform: uppercase;
	outline: none;
	width: 100%;
}

.submit-button:hover {
	color: #fccb0b;
	background: #404040;
}